/* the +a; shouldn't find anything, since a { } is declared in another file */
.default-padding {
    +a;
    padding:6px 8px; 
}


.blockstyle {
    display:inline-block;
    color:<orange>;
}

%define inner_orange:#5C4D20
