<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
{% load mixl %}
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
        <title>{% block title %}Mixl Test{% block extra_title %}{% endblock %}{% endblock %}</title>
        <link rel="stylesheet" href="{% mixl_include "style.css" %}"/>
        {% block extrahead %}
        {% endblock %}
    </head>
    <body id="{% block body_id %}page-home{% endblock %}">
        <div id="content">
            <div id="header">
            </div>
            <div id="content-body">
            {% block content %}
            {% endblock %}
            </div>
        </div>
        {% block extrafooter %}
        {% endblock %}
    </body>
</html>
